<div class="primary" data-bind="fadeVisible: isLoginVisible">
    <button class="action login primary" name="send" id="login-popup">
    <span data-bind="i18n:'Please, login'" ></span>
    </button>
</div>

<div class="block block-help-contactforms" data-bind="visible: !isLoginVisible">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2" data-bind="i18n:'Please specify your support request'"></strong>
    </div>
    <div class="block-content" aria-labelledby="block-help-contactforms">
        <form class="form form-login"
              method="post"
              enctype="multipart/form-data"
              id="block-help-contactforms-form"
              data-mage-init='{"validation":{}}'
              data-bind="attr:{action:formUrl}">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <fieldset class="fieldset first-step" data-bind="fadeVisible: isFirstStepVisible">
                <div class="field email">
                    <label class="label" for="subject"><span data-bind="i18n:'Subject'"></span></label>
                    <div  class="control" >
                        <select name="subject" class="select" id="subject">
                            <option value="cancel" data-bind="i18n:'Cancel'"></option>
                            <option value="my_order" data-bind="i18n:'Where is my order'"></option>
                            <option value="wrong" data-bind="i18n:'Something wrong'"></option>
                        </select>
                    </div>
                </div>
                <div class="field password required">
                    <div class="actions-toolbar">
                        <div class="primary"><button type="button" class="action primary" name="next" id="step2"><span data-bind="i18n:'Next'"></span></button></div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="fieldset second-step" data-bind="fadeVisible: isSecondStepVisible">
                <div class="change-subject" data-bind="i18n:'Change'"></div>
                <div class="field customer_name required">
                    <label class="label" for="customer_name"><span data-bind="i18n:'Name'"></span></label>
                    <div  class="control" >
                        <input name="customer_name" type="text" class="input-text"
                               id="Name" data-validate="{required:true}">
                    </div>
                </div>
                <div class="field email required">
                    <label class="label" for="email"><span data-bind="i18n:'Email'"></span></label>
                    <div  class="control" >
                        <input name="email" type="email" class="input-text"
                               id="email" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field order_number required">
                    <label class="label" for="order_number"><span data-bind="i18n:'Order number'"></span></label>
                    <div  class="control" >
                        <input name="order_number" type="text" class="input-text"
                               id="order_number" data-validate="{required:true}">
                    </div>
                </div>
                <div class="field image required">
                    <label class="label" for="image"><span data-bind="i18n:'Image'"></span></label>
                    <div  class="control" >
                        <input name="image" class="input-text" type="file"
                               id="image">
                    </div>
                </div>
                <div class="field customer_name required">
                    <label class="label" for="customer_name"><span data-bind="i18n:'Description'"></span></label>
                    <div  class="control" >
                        <textarea name="description" class="input-text"
                                  id="description" data-validate="{required:true}"></textarea>
                    </div>
                </div>
                <div class="field password required">
                    <div class="actions-toolbar">
                        <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span data-bind="i18n:'Submit'"></span></button></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
